

    

body{
    font-family: 'Roboto', sans-serif;
    margin:0px;
  
  
}


header{
    width:100%;
    height: 600px;
    background-color: black;
    color:blanchedalmond;
    
    
    
}

.section-one{
    width:100%;
    height:300px;
     
  
    background-color: gainsboro;
}


.scroll-img{
    width:40px;
    margin-top: 5px;
    position:relative;
}
.header-logo{
    width:40px;
    margin-top:10px;
    margin-left:150px;
}
ul {
    display:inline;
}
a{
    color: whitesmoke;
    text-decoration: none;
}
nav li{
    
    font-size: larger;
    display: inline;
    float:right;
    margin:20px;
}
.header-text{
    margin-left:180px;
    color:white;
    padding-top:100px;

}
h5{
    display:inline;
    position: absolute;
    top:350px;
   margin-left:10px;
    
}
.heading-section-two{
  
    text-align: center;
    display:inline;
    color:#007bff;
}
.section-two{
       padding-top:50px;
       padding-left:80px;
    width:100%;
    height:400px;
    background:	#e6e6fa;
    color:#007bff;
}
.sec-two-two{
    color:#007bff;
}
p{
    width:500px;
    text-align: justify;
    color:black;
}

.sec-two{
    
   padding-top:60px;
   padding-left:180px;
    
    height:300px;
    
    background-color:lightgray;
}
.q-links{
    display:inline;
    float:right;
      
}
.sec-two-header{
    display: inline;
    text-align: center;
   padding-top:45px;
   color:#007bff;

}
.pr{
position:relative;
top:6px;
left:-30px;
right:px;
bottom:20px;
width:30px;
}

.a-2{
    padding-right:10px;
    font-weight: 500;
    color:black;
}
strong{
    position: absolute;
    left:800px;
    top:740px;
    margin-bottom: 0px;
 
}
.tis{
    position: relative;
    padding:10px;
 
    left:-40px;
     bottom:10px;
}
.section-three{
   
    padding-top:50px;
    padding-left:170px;
    

}
.o-links{
    padding-left:200px;
}
.h-3{
    color:#007bff;
}

.img-3{
 margin-left:0px;
  width: 280px;
  height:300px;
  margin:0px;
  margin-right:50px;
  margin-bottom:20px;

}
figcaption{
    
    display:inline;
    margin-bottom:10px;
}
.fig-1, .fig-2, .fig-3{
    font-weight: 600;
}
.fig-2{
    margin-left: 250px;
}
.fig-3{
    margin-left:270px;
}
.section-four{
    
 
    color:#007bff;
    
    padding-top:50px;
    padding-left:170px;
    padding-bottom:20px;
    
}
.img-dp{
    width:150px;
    height:120px;
    padding-right:50px;
}
.f-1, .f-2, .f-3, .f-4, .f-5{
    font-weight:700;
    color:black;
}
.f-1{
padding-right:130px;
}
.f-2{
    padding-right:130px; 
}
.f-3{
    padding-right:130px;  
}
.f-4{
    padding-right:130px;  
}
.d-one, .d-two, .d-three, .d-four, .d-five{
    font-weight: 600;
    font-size:small;
}
.d-one{
    display:inline;
    padding-right:167px;
}
.d-two{
    display:inline;
    padding-right:169px;
}
.d-three{
    display:inline;
    padding-right:170px;
}
.d-four{
    display:inline;
    padding-right:169px;
}
.d-five{
    display:inline;
    padding-right:169px;
    
}
.section-five{
 
    padding-top:50px;
    padding-left:170px;
    background:gainsboro;
    display:flex;
    
    
}


h6{
    font-size:small;
}
div .container-one{
    
  width:100px;
  height:200px;

  padding-right:300px;
  
}
div .container-two{
    
    width:150px;
    height:300px;
    padding-right:200px;
}
div .container-Three{
    width:400px;
    height:300px;

}
.final-footer img {
  
    padding-left:450px;
    width:px;
    height:100px;

}
@media all and (max-width:800px){
    body{
        display:none;
    }
}
footer{
    background-color:lightgrey;
}